[defaults]
roles_path = roles
collections_path = collections
inventory = inventories/local
result_format = yaml
retry_files_enabled = False
interpreter_python = auto_silent
host_key_checking = False

[privilege_escalation]
become_ask_pass = False
